@{
  Layout = "_Layout";
}
<div class="jumbotron">
<h1>Welcome to Rock Paper Scissors</h2>
  <form action="/rockPaper" method="post">
  <div class="form-group">
    <label for="player1">Player1</label>
    <input name="player1" value="" type="text">
  </div>
  <div class="form-group">
    <label for="player2">Player2</label>
    <input name="player2" value="" type="text">
  </div>
  <button type="submit">Shoot!</button>
</form>
</div>
